In [2]:
import numpy as np
import pandas as pd

In [10]:
df = pd.read_csv('C:\\Users\\qtckp\Downloads\\201809-citibike-tripdata.csv\\201809-citibike-tripdata.csv')

In [5]:
df.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,1635,2018-09-01 00:00:05.2690,2018-09-01 00:27:20.6340,252.0,MacDougal St & Washington Sq,40.732264,-73.998522,366.0,Clinton Ave & Myrtle Ave,40.693261,-73.968896,25577,Subscriber,1980,1
1,132,2018-09-01 00:00:11.2810,2018-09-01 00:02:23.4810,314.0,Cadman Plaza West & Montague St,40.693830,-73.990539,3242.0,Schermerhorn St & Court St,40.691029,-73.991834,34377,Subscriber,1969,0
2,3337,2018-09-01 00:00:20.6490,2018-09-01 00:55:58.5470,3142.0,1 Ave & E 62 St,40.761227,-73.960940,3384.0,Smith St & 3 St,40.678724,-73.995991,30496,Subscriber,1975,1
3,436,2018-09-01 00:00:21.7460,2018-09-01 00:07:38.5830,308.0,St James Pl & Oliver St,40.713079,-73.998512,3690.0,Park Pl & Church St,40.713342,-74.009355,28866,Subscriber,1984,2
4,8457,2018-09-01 00:00:27.3150,2018-09-01 02:21:25.3080,345.0,W 13 St & 6 Ave,40.736494,-73.997044,380.0,W 4 St & 7 Ave S,40.734011,-74.002939,20943,Customer,1994,1

In [6]:
df.shape

(1877884, 15)

In [8]:
df['tripduration'].mean()/60

16.125248648656324

In [12]:
(df['start station id'] == df['end station id']).sum()

41364

In [20]:
df.groupby('bikeid').size().sort_values()

bikeid
34904      1
19420      1
29726      1
24763      1
34431      1
        ...
33878    532
33868    533
34357    549
33772    549
33875    559
Length: 10892, dtype: int64

In [21]:
df.groupby('bikeid')['tripduration'].mean().sort_values()

bikeid
32379        64.000000
25612        72.000000
14761       182.666667
34896       217.200000
22368       224.111111
             ...
18041    103932.100000
19083    335620.142857
17431    394605.833333
28520    417717.000000
17548    488022.400000
Name: tripduration, Length: 10892, dtype: float64

In [23]:
df['start station id'].isna().sum()

716

In [25]:
df.groupby('usertype')['tripduration'].mean()/60

usertype
Customer      33.415379
Subscriber    13.332348
Name: tripduration, dtype: float64

In [32]:
df['start'] = pd.Series([o.hour for o in  pd.to_datetime(df['starttime'])])

In [41]:
(df['start'] <= 20) & (df['start'] >= 18)

0          False
1          False
2          False
3          False
4          False
           ...
1877879    False
1877880    False
1877881    False
1877882    False
1877883    False
Name: start, Length: 1877884, dtype: bool

In [42]:
df[ (df['start']>=18) & (df['start']<=20) ].groupby('start station id').size().sort_values()

start station id
3432.0       9
3567.0      11
3333.0      14
3704.0      20
2005.0      20
          ...
477.0     2418
459.0     2605
402.0     2680
426.0     2701
519.0     3181
Length: 767, dtype: int64

In [45]:
df['end'] = pd.Series([o.hour for o in  pd.to_datetime(df['stoptime'])])

In [56]:
u = df[ (df['end']>=6) & (df['end']<=20) ]['end station id'].unique()

In [59]:
print(369 in u)
print(3116 in u)
print(3106 in u)
print(3140 in u)

True
True
True
True